body {
	font-family: "Roboto";
	background-color: #ffffff;

	color: #434455;
	font-size: ;
}

.item {
	list-style: none;
}
.menu-list {
	list-style: none;
	
}
.container {margin-top: 288px;
margin-left: 156px;
width: 1158px;}

.navigation-list-link {list-style: none;}

footer {background-color: #2E2F42; color: #ffffff;}

button {background: #F4F4FD;
	border: 1px solid #E7E9FC;}

.button:hover {background-color:#404BBF ;}

.header-list {display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;
	
	position: absolute;
	width: 261px;
	height: 24px;
	left: 347px;
	top: 24px;}
	
	
.header-contacts-tel {position: absolute;
	width: 151px;
	height: 24px;
	left: 1133px;
	top: 24px;}

.header-contacts-mail {position: absolute;
	width: 153px;
	height: 24px;
	left: 940px;
	top: 24px;}

	
	
		
		
		
		

	